#searchbars input {
    margin-right: 10px !important;
    color: rgba(0, 0, 0, 0.5) !important;
    width: 100px !important;
    border-left: none !important;
    padding-left: 30px !important;
    padding-bottom: 0px !important
    padding-top: 0px !important;
    height: 14px !important;
    border-left: none !important;
}

#searchbars input#torrentssearch:focus, #searchbars input#artistsearch:focus, #searchbars input#userssearch:focus, #searchbars input#forumssearch:focus {
    color: rgba(0, 0, 0, 0.75) !important;
    background-position: 0 -27px !important;
}

#searchbars input#torrentssearch {
    background: #FFF url('http://dustinschau.com/drop/search/Torrents.png') no-repeat !important;
    background-position: 0 -1px !important;
}

#searchbars input#artistsearch {
    background: #FFF url('http://dustinschau.com/drop/search/Actors.png') no-repeat !important;
    background-position: 0 -1px !important;
}

#searchbars input#forumssearch {
    background: #FFF url('http://dustinschau.com/drop/search/Forums.png') no-repeat !important;
    background-position: 0 -1px !important;
}

#searchbars input#userssearch {
    background: #FFF url('http://dustinschau.com/drop/search/Users.png') no-repeat !important;
    background-position: 0 -1px !important;
}

.group_torrent span {
     visibility: hidden !important;
}

.group_torrent span a[title="Download"] {
    background: url('http://dustinschau.com/drop/DL.png') 0 center no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    float: right !important;
    text-indent: -9999px !important;
    visibility: visible !important;
}